body{
    background-color: #f5f5f5;
}
#primeira_div{
    text-align: center;
    font-family: 'tahoma';
    padding: 50px;
}
#primeira_div h1{
    font-size: 32px;
    font-family: 'tahoma', sans-serif;
    text-align: center;
    margin-top: 0;
    color: #000000;
}
h2{
    font-size: 24px;
    font-family: 'tahoma';
    color: #000000;
}

#segunda_div{
    border-top: 1px solid #D5D5D5;
    text-align: center;
    font-family: 'tahoma';
    padding: 50px;
}

h3{
    
    font-size: 18px; 
    font-family: 'tahoma';
}

#terceira_div{
    border-top: 1px solid #D5D5D5;
    text-align: center;
    font-family: 'tahoma';
    padding: 50px;
}
img{
    width: 190px;
}

#quarta_div{
    border-top: 1px solid #D5D5D5;
    text-align: center;
    margin: 8px;
    font-family: 'tahoma';
    padding: 50px;
    

}
p{
    font-size: 16px;
    line-height: 28px;
    width: 930px;
    margin: 15px auto 30px auto;
    color: #000000;
}
a{
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: #49B970;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 30px;
}
span{
    font-weight: bold;
}